body {
  background-color: black;
  color: white;
  text-align: center;
}

header {
  margin-bottom: 50px;
}

#header-image {
    max-width: 300px;
    border-radius: 10px;
}

section {
  margin: 50px 100px;
}

#quote {
  font-size: large;
  font-style: italic;
}

.section-header {
  font-weight: bold;
  text-align: center;
}

footer {
    text-align: center;
}

#footer-image {
    max-width: 200px;
}
